
@model Wfm.App.Core.Model.ItemOperationsMasterMetaData
@{
    ViewBag.Title = "Master - Item Operations";
}
<link href="~/Content/Toastr/toastr.min.css" rel="stylesheet" />
<style>
    .input-validation-error {
        border: 1px solid white;
        background-color: #fee;
    }

    ul.ui-autocomplete {
        z-index: 1100;
    }
</style>

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Master</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a href="#">
                                <i class="fas fa-layer-group"></i> Item Operation 
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">

                <div class="card">

                    <div class="header">
                        <button type="button" class="btn btn-primary mb-5" data-toggle="modal" data-target="#exampleModal">
                            Add Operation
                        </button>
                        <h2>
                            <strong>View </strong>Operation
                        </h2>
                    </div>
                    <div class="row col-12">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    @Html.LabelFor(x => x.DEPT_ID, "Department")
                                    @Html.DropDownListFor(x => x.DEPT_ID, Model.Departments, "All", new { required = "true", id = "DEPT_ID2" })
                                    @Html.ValidationMessageFor(m => m.DEPT_ID)
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    @Html.LabelFor(x => x.SUBDEPT_ID, "Sub Department")
                                    @Html.DropDownListFor(x => x.SUBDEPT_ID, Enumerable.Empty<SelectListItem>(), "All", new { required = "true", id = "SUBDEPT_ID2" })
                                    @Html.ValidationMessageFor(m => m.SUBDEPT_ID)
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="body">
                        <div id="particalDiv">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">
                                    Disable User
                                </h5>
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h5>Are you sure you want to disable this User?</h5>
                            </div>
                            <div class="modal-footer">
                                <button id="user_delete_confirm" type="button"
                                        class="btn btn-info waves-effect">
                                    Confirm
                                </button>
                                <button type="button" class="btn btn-danger waves-effect"
                                        data-dismiss="modal">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Special Allowance</h5>
                @*<button type="button" class="close" id="btnClose2" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>*@
            </div>
            @using (Html.BeginForm("AddItemOperation", "Master", FormMethod.Post, new { @id = "AddItemOperation", @class = "login100-form validate-form" }))
            {
        <div class="modal-body">
            <div class="form-group">
                <div class="form-line">
                    @Html.LabelFor(x => x.DEPT_ID, "Department")
                    @Html.DropDownListFor(x => x.DEPT_ID, Model.Departments, "-- Select --", new { required = "true" })
                    @Html.ValidationMessageFor(m => m.DEPT_ID)
                </div>
            </div>
            <div class="form-group">
                <div class="form-line">
                    @Html.LabelFor(x => x.SUBDEPT_ID, "Sub Department")
                    @Html.DropDownListFor(x => x.SUBDEPT_ID, Enumerable.Empty<SelectListItem>(), "--Select--", new { required = "true" })
                    @Html.ValidationMessageFor(m => m.SUBDEPT_ID)
                </div>
            </div>
            <div class="form-group">
                <div class="form-line">
                    @Html.LabelFor(x => x.ITEM_CODE_ID, "Item Code")
                    @Html.DropDownListFor(x => x.ITEM_CODE_ID, Enumerable.Empty<SelectListItem>(), "--Select--", new { required = "true" })
                    @Html.ValidationMessageFor(m => m.ITEM_CODE_ID)
                </div>
            </div>
            <div class="form-group">
                <div class="form-line">
                    @Html.LabelFor(x => x.ITEM_ID, "Item Name")
                    @Html.DropDownListFor(x => x.ITEM_ID, Enumerable.Empty<SelectListItem>(), "--Select--", new { required = "true" })
                    @Html.ValidationMessageFor(m => m.ITEM_ID)
                </div>
            </div>
            <div class="form-group">
                <div class="form-line">
                    @Html.LabelFor(x => x.OPERATION, "Item Operation Name")
                    @Html.TextBoxFor(x => x.OPERATION, new { required = "true" })
                    @Html.ValidationMessageFor(m => m.OPERATION)
                    @Html.HiddenFor(m => m.UNIQUE_OPERATION_ID)
                </div>
            </div>
            <div class="form-group">
                <div class="form-line">
                    @Html.LabelFor(x => x.RATE, "Item Rate")
                    @Html.TextBoxFor(x => x.RATE, new { required = "true" })
                    @Html.ValidationMessageFor(m => m.RATE)
                </div>
            </div>
        </div>
                <div class="modal-footer">
                    <button type="button" id="btnClose">Close</button>
                    <button type="button" id="btnSave" class="btn btn-primary">Save </button>
                </div>
            }
        </div>
    </div>
</div>
<script>
    $("#btnClose").click(function () {
        cleanForm();
        $('#exampleModal').modal('hide');
        $('select').formSelect();
    });
    function cleanForm() {
        $("#RATE").val("");
        $("#OPERATION").val("");
        $("#ITEM_ID").val("");
        $("#ITEM_CODE_ID").val("");
        $("#DEPT_ID").val("");
        $("#SUBDEPT_ID").val("");
        $("#SUBDEPT_ID2").val("");
        $('#ITEM_CODE_ID').find('option').not(':first').remove();
        $('#SUBDEPT_ID2').find('option').not(':first').remove();
        $('#SUBDEPT_ID').find('option').not(':first').remove();
        $('select').formSelect();

        $("#exampleModalLabel").text("Add Operation");
    }
    $(document).ready(function () {
        $("select[required]").css({ display: "block", height: 0, padding: 0, width: 0, position: 'absolute' });
        $("#btnSave").click(function () {
            if ($("#AddItemOperation").valid()) { //check if form is valid using model annotation
                $.ajax({
                    type: "POST",
                    url: '/Master/AddItemOperation',     //your action
                    data: $('#AddItemOperation').serialize(),   //your form name.it takes all the values of model
                    dataType: 'json',
                    success: function (result) {
                        if (result.Status === 'Ok') {
                            $('#exampleModal').modal('hide');
                            var dept_id = $("#DEPT_ID").val();
                            $("#DEPT_ID2").val(dept_id);
                            cleanForm();
                            getSubDeptbyDeptId2();
                        } else if (result.Status === 'Dublicate') {
                            var errorMessage = "Operation Name Already Exist.";
                            toastr["error"](errorMessage);
                        } else {
                            var errorMessage = "Unknown Error.";
                            alert(errorMessage);
                        }
                    }
                })
            }
            else {
                return false;
            }

        });

        GetItemOperations();
    });

    function GetItemOperations() {
        var DEPT_ID = $("#DEPT_ID2").val();
        var SUBDEPT_ID = $("#SUBDEPT_ID2").val();
        $("#particalDiv").empty();
        $.ajax(
            {
                type: 'Get',
                url: '/Master/GetItemOperations?dept_id=' + DEPT_ID + '&sub_dept_id=' + SUBDEPT_ID,
                success:
                    function (response) {
                        $("#particalDiv").append(response);
                    },
                error:
                    function (response) {
                        alert("Error: " + response);
                    }
            });
    }

    function getItemOperationById(id) {
        $.ajax(
            {
                type: 'Get',
                url: '/Master/GetItemOperationById?id=' + id,
                success:
                    function (data) {
                        $("#exampleModalLabel").text("Update Operation");
                        $("#ITEM_NAME").val(data.ITEM_NAME);
                        $("#ITEM_ID").val(data.ITEM_ID);
                        $("#DEPT_ID").val(data.DEPT_ID);
                        $("#UNIQUE_OPERATION_ID").val(data.UNIQUE_OPERATION_ID);
                        $("#OPERATION").val(data.OPERATION);
                        $("#RATE").val(data.RATE);
                        $('#exampleModal').modal('show');
                        getSubDeptbyDeptIdPassSubDeptId(data.SUBDEPT_ID);
                        getItemCodeByDeptAndSubDeptId(data.ITEM_CODE_ID, data.ITEM_ID);
                    },
                error:
                    function (response) {
                        alert("Error: " + response);
                    }
            });
    }
    $("#DEPT_ID").change(function () {
        getSubDeptbyDeptId();
    });
    $("#DEPT_ID2").change(function () {
        getSubDeptbyDeptId2();
    });

    $("#SUBDEPT_ID2").change(function () {
        GetItemOperations();
    });

    $("#SUBDEPT_ID").change(function () {
        getItemCodeByDeptAndSubDeptId(null);
    });

    $("#ITEM_CODE_ID").change(function () {
        getItemByItemCodeId(null);
    });

    function getSubDeptbyDeptId() {
        var DEPT_ID = $("#DEPT_ID").val();
        if (DEPT_ID != null) {
            $.get('/Dashboard/GetSubDepartmentByDepartmentId?departmentId=' + DEPT_ID, function (data) {
                $('#SUBDEPT_ID').find('option').not(':first').remove();
                $.each(data, function (i, item) {

                    $('#SUBDEPT_ID').append($('<option>', {
                        value: item.SUBDEPT_ID,
                        text: item.SUBDEPT_NAME
                    }));
                });
                $('select').formSelect();

            });
        } else {
            $('#SUBDEPT_ID').find('option').not(':first').remove();
            $('select').formSelect();
        }
    }

    function getSubDeptbyDeptId2() {
        var DEPT_ID = $("#DEPT_ID2").val();
        if (DEPT_ID != null) {
            $.get('/Dashboard/GetSubDepartmentByDepartmentId?departmentId=' + DEPT_ID, function (data) {
                $('#SUBDEPT_ID2').find('option').not(':first').remove();
                $('#SUBDEPT_ID').find('option').not(':first').remove();
                $.each(data, function (i, item) {
                    $('#SUBDEPT_ID2').append($('<option>', {
                        value: item.SUBDEPT_ID,
                        text: item.SUBDEPT_NAME
                    }));

                });
                $('select').formSelect();
                GetItemOperations();

            });
        } else {
            $('#SUBDEPT_ID2').find('option').not(':first').remove();
            $('select').formSelect();
        }
    }

    function getSubDeptbyDeptIdPassSubDeptId(sub_dept_id) {
        var DEPT_ID = $("#DEPT_ID").val();
        if (DEPT_ID != null) {
            $.get('/Dashboard/GetSubDepartmentByDepartmentId?departmentId=' + DEPT_ID, function (data) {
                $('#SUBDEPT_ID').find('option').not(':first').remove();
                $.each(data, function (i, item) {
                    $('#SUBDEPT_ID').append($('<option>', {
                        value: item.SUBDEPT_ID,
                        text: item.SUBDEPT_NAME
                    }));
                });
                $('#SUBDEPT_ID').val(sub_dept_id);
                $('select').formSelect();
            });
        } else {
            $('#SUBDEPT_ID').find('option').not(':first').remove();
            $('#SUBDEPT_ID').formSelect();
        }
    }

    function getItemCodeByDeptAndSubDeptId(item_code_id, item_id) {
        var DEPT_ID = $("#DEPT_ID").val();
        var SUBDEPT_ID = $("#SUBDEPT_ID").val();
        if (DEPT_ID != null && SUBDEPT_ID != null) {
            $.get('/Master/GetItemCodeByDeptAndSubDeptId?dept_id=' + DEPT_ID + '&sub_dept_id=' + SUBDEPT_ID, function (data) {
                $('#ITEM_CODE_ID').find('option').not(':first').remove();
                $.each(data, function (i, item) {
                    $('#ITEM_CODE_ID').append($('<option>', {
                        value: item.ITEM_CODE_ID,
                        text: item.ITEM_CODE_NAME
                    }));
                });
                if (item_code_id != null) {
                    $('#ITEM_CODE_ID').val(item_code_id);
                    getItemByItemCodeId(item_id);
                }
                $('select').formSelect();
            });
        } else {
            $('#ITEM_CODE_ID').find('option').not(':first').remove();
            $('#ITEM_CODE_ID').formSelect();
        }

    }
    function getItemByItemCodeId(item_id) {
        var item_code_id = $("#ITEM_CODE_ID").val();
        if (item_code_id != null) {
            $.get('/Master/GetItemByItemCodeId?item_code_id=' + item_code_id, function (data) {
                $('#ITEM_ID').find('option').not(':first').remove();
                $.each(data, function (i, item) {
                    $('#ITEM_ID').append($('<option>', {
                        value: item.ITEM_ID,
                        text: item.ITEM_NAME
                    }));
                });
                if (item_code_id != null) {
                    $('#ITEM_ID').val(item_id);
                }
                $('select').formSelect();
            });
        } else {
            $('#ITEM_ID').find('option').not(':first').remove();
            $('#ITEM_ID').formSelect();
        }

    }
</script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Content/Toastr/toastr.min.js"></script>



