@model Wfm.App.Core.Model.WorkforceAttendance

@{
    ViewBag.Title = "Attendance - Employee";
}

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Attendance List</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a href="/Workforce/FaultyAttendanceList">
                                <i class="fas fa-layer-group"></i> Workforce
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="form-line">
                                        @Html.LabelFor(x => x.DEPT_ID, "Department")
                                        @Html.DropDownListFor(x => x.DEPT_ID, ViewBag.Dept as SelectList, "-- Select--", new { id = "DEPT_ID", required = "true", @onchange = "onDepartmentChange()" })
                                        @Html.ValidationMessageFor(m => m.DEPT_ID)
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="form-line">
                                        @Html.LabelFor(x => x.WF_EMP_TYPE, "Employee type")
                                        @Html.DropDownListFor(x => x.WF_EMP_TYPE, new SelectList(ViewBag.EmployeeTypes, "Value", "Text"), "-- Select--", htmlAttributes: new { id = "WF_EMP_TYPE", required = true })
                                        @Html.ValidationMessageFor(m => m.WF_EMP_TYPE)
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="form-line">
                                        @Html.LabelFor(x => x.SUBDEPT_ID, "Sub Department")
                                        @Html.DropDownListFor(x => x.SUBDEPT_ID, Enumerable.Empty<SelectListItem>(), "All", new { required = "true" })
                                        @Html.ValidationMessageFor(m => m.SUBDEPT_ID)
                                    </div>
                                </div>
                            </div>
                        </div>                       
                        <div class="row clearfix">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="form-line">
                                        @Html.LabelFor(x => x.EMP_NAME, "Employee name")
                                        @Html.TextBoxFor(x => x.EMP_NAME, new { id = "EMP_NAME", required = "true" })
                                        @Html.ValidationMessageFor(m => m.EMP_NAME)
                                        @Html.HiddenFor(x => x.EMP_ID, new { id = "EMP_ID" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="form-line">
                                        @Html.LabelFor(x => x.MONTH_ID, "Month")
                                        @Html.DropDownListFor(x => x.MONTH_ID, new SelectList(ViewBag.Months, "Value", "Text"), "-- Select--", htmlAttributes: new { id = "MONTH_ID", required = true })
                                        @Html.ValidationMessageFor(m => m.MONTH_ID)
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="form-line">
                                        @Html.LabelFor(x => x.YEAR_ID, "Year")
                                        @Html.DropDownListFor(x => x.YEAR_ID, new SelectList(ViewBag.Years, "Value", "Text"), "-- Select--", htmlAttributes: new { id = "YEAR_ID", required = true })
                                        @Html.ValidationMessageFor(m => m.YEAR_ID)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <button type="button" id="workforce-loadattendance" class="btn btn-primary waves-effect m-r-15">Load Attendance</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div id="partialPlaceHolder" style="overflow:scroll;display:none"> </div>
                                </div>
                            </div>
                        </div>                                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style type="text/css">
    .ui-autocomplete {
        background-color: #f5f5f5;
        max-width: 500px;
        max-height: 200px;
        overflow-y: scroll;
        overflow-x: hidden;
        z-index: 100;
        border: 0px 1px 1px 1px;
    }

    .ui-menu-item .ui-menu-item-wrapper.ui-state-active {
        background-color: #DCDCDC;
        color: #000000;
    }
</style>
<script src="~/Content/assets/js/pages/workforce/workforce.js?ver=2"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("select[required]").css({ position: "absolute", display: "inline", height: 0, padding: 0, width: 0 });
    });

    function onDepartmentChange() {
        var departmentId = $("#DEPT_ID option:selected").val();
        $.get('/Attendance/GetSubDepartmentByDepartmentId?departmentId=' + departmentId, function (data) {
            $('#SUBDEPT_ID').find('option').not(':first').remove();
            $.each(data, function (i, item) {
                $('#SUBDEPT_ID').append($('<option>', {
                    value: item.SUBDEPT_ID,
                    text: item.SUBDEPT_NAME
                }));
            });
            $('#SUBDEPT_ID').formSelect();
        });
    }

    $("#EMP_NAME").autocomplete({
        max: 10,
        minLength: 1,
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("LoadWorkforceByWFType", "Workforce")',
                datatype: "json",
                data: {
                    deptId: $("#DEPT_ID").val(),
                    sub_dept_id: $("#SUBDEPT_ID").val(),
                    query: $('#EMP_NAME').val(),
                    emp_type_id: $('#WF_EMP_TYPE').val()
                },
                success: function (data) {
                    response($.map(data, function (val, item) {
                        return {
                            label: val.Name,
                            value: val.Name,
                            empId: val.ID
                        }
                    }))
                }
            })
        },
        select: function (event, ui) {
            $("#EMP_ID").val(ui.item.empId);
        },
        open: function () {
            $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
        },
        close: function () {
            $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
        }
    });
</script>