@model Wfm.App.Core.Model.ToolTalkMasterMetaData

@{
    ViewBag.Title = "Tooltalk - All Items";
}

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Tool Talk</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a href="/GatePass/Create">
                                <i class="fas fa-layer-group"></i> Tool Talk
                            </a>
                        </li>
                        <li class="breadcrumb-item active">List</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>All</strong> Check List
                        </h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="form-line">
                                        @Html.LabelFor(x => x.BUILDING_ID, "Unit")
                                        @Html.DropDownListFor(x => x.BUILDING_ID, ViewBag.Buildings as SelectList, "-- Select--", new { id = "BUILDING_ID", required = "true", @onchange = "onBuildingChange()" })
                                        @Html.ValidationMessageFor(m => m.BUILDING_ID)
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="form-line">
                                        @Html.LabelFor(x => x.DEPT_ID, "Department")
                                        @Html.DropDownListFor(x => x.DEPT_ID, new SelectList(ViewBag.Dept, "Value", "Text"), "All", new { id = "DEPT_ID", required = "true", @onchange = "getSubDeptbyDeptId()" })
                                        @Html.ValidationMessageFor(m => m.DEPT_ID)
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="form-line">
                                        @Html.LabelFor(x => x.SUBDEPT_ID, "Sub Department")
                                        @Html.DropDownListFor(x => x.SUBDEPT_ID, ViewBag.SubDepartments as SelectList, "All", new { id = "SUBDEPT_ID", required = "true" })
                                        @Html.ValidationMessageFor(m => m.SUBDEPT_ID)
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3" style="margin-top:20px">
                                <div class="form-group">
                                    <div class="form-line">
                                        <button type="button" class="btn btn-primary" onclick="GetData()">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span id="message" style="color:red;display:none;">This item is already in use. First remove this item from configured check list.</span>
                        <div id="particalDiv">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">
                                    Delete Check List
                                </h5>
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h5>Are you sure you want to delete this check list?</h5>
                            </div>
                            <div class="modal-footer">
                                <button id="tooltalk_delete_confirm" type="button"
                                        class="btn btn-info waves-effect">
                                    Confirm
                                </button>
                                <button type="button" class="btn btn-danger waves-effect"
                                        data-dismiss="modal">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<input type="hidden" id="hiddenId" />
<script>
    $(document).ready(function () {
        $('#DEPT_ID').find('option').not(':first').remove();
        getSubDeptbyDeptId();
    });
    function onBuildingChange() {
        var buildingId = $("#BUILDING_ID option:selected").val();
        $.get('/ManPowerRequest/GetFloorByBuildingId?buildingId=' + buildingId, function (data) {
            $('#DEPT_ID').find('option').not(':first').remove();
            $.each(data, function (i, item) {
                $('#DEPT_ID').append($('<option>', {
                    value: item.DEPT_ID,
                    text: item.DEPT_NAME
                }));
            });
            $('#DEPT_ID').formSelect();
        });
    }
    function getSubDeptbyDeptId() {
        var DEPARTMENT_ID = $("#DEPT_ID").val();
        if (DEPARTMENT_ID != null) {
            $.get('/Dashboard/GetSubDepartmentByDepartmentId?departmentId=' + DEPARTMENT_ID, function (data) {
                $('#SUBDEPT_ID').find('option').not(':first').remove();
                $.each(data, function (i, item) {
                    $('#SUBDEPT_ID').append($('<option>', {
                        value: item.SUBDEPT_ID,
                        text: item.SUBDEPT_NAME
                    }));
                });
                $('#SUBDEPT_ID').formSelect();
            });
        } else {
            $('#SUBDEPT_ID').find('option').not(':first').remove();
            $('#SUBDEPT_ID').formSelect();
            /* GetEmployeeData();*/
        }
    }
    $("#DEPT_ID").change(function () {
        getSubDeptbyDeptId();
    });
</script>
<script src="~/Content/assets/js/pages/tooltalk/tooltalk.js"></script>