@model List<Wfm.App.Core.Model.TrainningMasterMetaData>

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover js-basic-example dataTable" width="100%">
        <thead>
            <tr>
                <th style="width:5%">#</th>
                <th style="width:30%"> Company Name </th>
                <th style="width:auto"> Department Name </th>
                <th style="width:15%"> Training Name </th>
                <th style="width:15%"> Status </th>
                <th style="width:5%"> Action </th>
            </tr>
        </thead>
        <tbody>
            @{
                int index = 0;
                foreach (var trainning in Model)
                {
                    <tr id="row_@trainning.TRAINNING_ID">
                        <td>@(++index)</td>
                        <td>@trainning.CMP_NAME</td>
                        <td>@trainning.DEPT_NAME</td>
                        <td>@trainning.TRAINNING_NAME</td>
                        <td>@trainning.STATUS</td>
                        <td>
                            <a href="/WorkforceTrainning/EditTrainning/@trainning.TRAINNING_ID" class="btn btn-tbl-edit">
                                <i class="material-icons">create</i>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

